@import "/src/app/shared/variables.scss";

.favorites-container{
  min-width: 400px;

  &__title{
    font-size: $font-title;
    border-bottom: 1px solid $lightest-grey;
    padding-bottom: $padding-s;
    margin-bottom: $margin-m;
  }

  .mat-column{
    &-image{
      flex: 0 0 calc($sm-img-thumbnail-size + $margin-s);
    }

    &-actions{
      flex: 0 0 25%;
      display: flex;
      justify-content: center;
    }
  }

  .mat-cell{
    padding: $padding-s $padding-m;
  }

  .mat-header-cell{
    padding: 0 $padding-m;
    font-size: $font-large;
  }

  .nothing-found{
    width: 400px;
    display: flex;
    flex-direction: column;

    &__message{
      text-align: justify;
      margin-bottom: $margin-m;
    }

    &__button{
      margin-left: auto;
    }
  }
}

