@import "/src/app/shared/variables.scss";

.table-container{
  padding: $padding-s $padding-l;
  background-color: $darker-white;
  border-radius: $border-radius;

  &__table{
    background-color: $darker-white;

    .mat-column{
      &-image{
        flex: 0 0 calc($img-thumbnail-size + $margin-s);

        .thumb-container{
          position: relative;
          &__star{
            position: absolute;
            top: 5px;
            right: 5px;
            color: $yellow;
          }
        }
      }

      &-title{
        flex: 0 0 7%;
      }

      &-description{
        text-align: justify;
      }

      &-price{
        flex: 0 0 6%;
        text-align: center;
      }

      &-email{
        flex: 0 0 14%;
      }

      &-actions{
        flex: 0 0 12%;
        justify-content: flex-end;
        .button{
          min-width: 155px;
        }
      }
    }

    .mat-cell{
      padding: $padding-m;
    }

    .mat-header-cell{
      padding: 0 $padding-m;
      font-size: $font-large;
      color: $black;
    }

    .mat-header-row{
      min-height: 30px;
    }
  }

  &__paginator{
    background-color: $darker-white;
  }

  &__empty{
    font-size: $font-title;
    text-align: center;
    padding: $padding-xl 0;
  }
}

