<div class="table-container">
  <mat-table
    [ngClass]="{'hidden-important': !this.itemsDataSource || this.itemsDataSource.filteredData.length == 0}"
    #test [dataSource]="itemsDataSource"
    class="table-container__table"
    matSort
    [@.disabled]="true"
  >
    <ng-container matColumnDef="image">
      <mat-header-cell mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let item">
        <div class="thumb-container">
          <app-image-thumbnail
            [imageUrl]="item.image"
            [title]="item.title"
            [isSmall]="false"
          ></app-image-thumbnail>
        <mat-icon *ngIf="item.isFavorite" class="thumb-container__star">star</mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let item">{{item.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let item"> {{item.price | currency: 'EUR':'symbol':undefined:'es-ES'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let item"> {{item.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let item">
        <button
          class="button"
          mat-stroked-button
          [color]="item.isFavorite ? 'warn' : 'primary'"
          (click)="changeFavorite(item)"
        >
          {{
            item.isFavorite ? 'Remove favourite' : 'Add favourite'
          }}
        </button>
        <!-- <button mat-icon-button class="button" (click)="changeFavorite(item)" aria-label="Example icon button with a menu icon">
          <mat-icon [svgIcon]="item.isFavorite ? 'remove-fav' : 'add-fav'"></mat-icon>
        </button> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <ng-container *ngIf="!this.itemsDataSource || this.itemsDataSource.filteredData.length == 0">
    <div class="table-container__empty">
      Oops! Nothing was found following the specified criteria!
    </div>
  </ng-container>

  <mat-paginator
    class="table-container__paginator"
    [ngClass]="{'hidden-important': !this.itemsDataSource || this.itemsDataSource.filteredData.length == 0}"
    [pageSizeOptions]="[5]"
    [hidePageSize]="true"
    [showFirstLastButtons]="true"
    aria-label="Select page of items"
  ></mat-paginator>
</div>
