@import "/src/app/shared/variables.scss";

.table-container{
  padding: $padding-s $padding-l;
  background-color: $darker-white;
  border-radius: $border-radius;

  &__table{
    background-color: $darker-white;

    .mat-column{
      &-image{
        flex: 0 0 calc($img-thumbnail-size + $margin-s);
      }
    
      &-title{
        flex: 0 0 7%;
      }
    
      &-description{
        text-align: justify;
        color: $grey;
      }
      
      &-price{
        flex: 0 0 5%;
        text-align: center;
        color: $grey;
      }
      
      &-email{
        flex: 0 0 12%;
        color: $grey;
      }
    
      &-actions{
        flex: 0 0 10%;
      }
    }
    
    .mat-cell{
      padding: $padding-m;
    }
    
    .mat-header-cell{
      padding: 0 $padding-m;
      font-size: $font-large;
    }

    .mat-header-row{
      min-height: 30px;
    }
  }

  &__paginator{
    background-color: $darker-white;
  }

  &__empty{
    font-size: $font-title;
    text-align: center;
    padding: $padding-xl 0;
  }
}

