@import "/src/app/shared/variables.scss";

.mng-container{
  &__header{
    &__title{
      font-size: $font-title;
      padding: 0 $padding-s $padding-s;
      border-bottom: 1px solid $lightest-grey;
      margin-bottom: $margin-l;
    }
  }

  &__main{
    display: flex;

    &__menu{
      flex-basis: 22%;
    }

    &__content{
      flex-basis: 78%;
    }
  }
}