
$black: rgba(0,0,0,.87);
$light-grey: rgba(0,0,0,.4);
$lightest-grey: rgba(0,0,0,.12);
$primary-color: #3f51b5;
$primary-light-color: #3f51b559;

$font-title: 18px;
$font-large: 15px;
$font-default: 13px;

$border-radius: 4px;

$img-thumbnail-size: 100px;
$sm-img-thumbnail-size: 50px;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;

$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;