@import "/src/app/shared/variables.scss";

.toast{
  display: flex;
  align-items: center;

  &__icon{
  }

  .yellow{
    color: $yellow;
  }

  .red{
    color: $red;
  }

  &__message{
    margin-left: $margin-m;
  }

  &__close{
    transform: scale(.6);
    position: absolute;
    right: 0;
    top: 0;
  }
}
