@import "/src/app/shared/variables.scss";

.searcher{
  margin-bottom: $margin-l;
  &__title{
    font-size: $font-large;
    margin-bottom: $margin-s;
  }
  &__input{
    width: 100% !important;
  }
}
