@import "/src/app/shared/variables.scss";

/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: $font-default !important;
}

.pointer{
  cursor: pointer;
}

.mat-form-field-no-padding .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}

.hidden-important{
  display: none !important;
}